<div class="row">
  <div class="col-12">
    <h1 class="text-success my-5">Detalle de Usuarios</h1>

  </div>
  <div class="col-12" *ngIf="verUsuario; else cargarComponenteEspera;">
    <div class="row">
      <div class="col-12 col-md-6 col-xl-3 mb-4 text-center">
        <img class="lyon-usuario-imag" src="{{verUsuario.avatar}}" alt="">
      </div>
      <div class="col-12 col-md-6 col-xl-9 pl-4">
  
      <h2 class="text-primary border-bottom pb-3">detalle de {{verUsuario.nombre}}</h2>
      <h3 class="text-secondary">edad: {{verUsuario.edad}}</h3>
      <h3 class="text-secondary border-bottom pb-3">puesto: {{verUsuario.trabaja ? verUsuario.trabaja: '---'}}</h3>
      <p class="text-secondary">{{verUsuario.descripcion}}</p> 
    </div>
    </div>
  </div>
  <ng-template #cargarComponenteEspera>
    <div class="col-12 text-center">
      <h5 class="my-5">Cargando...</h5>
    </div>
  </ng-template>
</div>