<div class="lyon-left-nav-brand">
  <fa-icon [icon]="faBars"  class="lyon-left-nav-brand__menu" (click)="showMenu.emit()"></fa-icon>
  <div class="lyon-left-nav-brand__logo">
      <img [src]="logo" alt="lyon12-logo"/>
      <span>Instituto</span>
  </div>
</div>
<div class="lyon-left-nav-usr">
  <div class="lyon-left-nav-usr__avatar" [ngStyle]="{'background-image': 'url(' + avatar + ')'}"></div>
  <h4 class="lyon-left-nav-usr__name">{{nombre}}</h4>
  <h6 class="lyon-left-nav-usr__position">{{posicion}}</h6>
</div>

<ng-container *ngFor="let menu of menus">
  <app-left-nav-menu [dato]="menu"></app-left-nav-menu>
</ng-container>

